/* GLOBAL CSS */
:root {
    /* light theme */
    --primary-background-color: #fff;
    --secondary-background-color: #f8f9fa;
    /* Dark theme */
    --primary-background-color: #151421;
    --secondary-background-color: #100F19;
    /* color */
    --white-color: #ffffff;
    --black-color: #000;
    --green-color: #009f4d;
    --hover-green-color: #008030;
    --border-color: #00a63f;
    --hover-border-color: #00732c;
    --body-text-color: #666;
    --footer-color: #151421;
    --dark-heading-text-color: #3f3a64;
    --heading-sub-color: #7e7d7d;
}

html,
body {
    font-size: 16px;
    font-family: 'Jost', sans-serif;
}

/* cài fontsize ,fontweight cho h2,h3,h4 va p */
/* light mode */
.heading2__dark {
    font-size: 2.1875rem;
    font-weight: 700;
    color: var(--dark-heading-text-color);
    line-height: 45px;
}

.heading3__dark {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 28px;
    color: var(--green-color);
}

.heading4__dark {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 28px;
    color: var(--dark-heading-text-color);
}

.sub__heading {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--dark-heading-text-color);
    line-height: 30px;
    text-transform: capitalize;
}
p{
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 27px;
    color: var(--body-text-color);
}








































































































































            /* CSS Dev1 start */
/* HEADER start */
header {
    background: rgba(0, 0, 0, 0.459);
}
header{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 100;

}
header .navbar .nav__left{
    justify-content: center;
    align-items: flex-start;
}
header .navbar .nav__left h2 {
    color: var(--black-color);
    line-height: 0.6;

}
header .navbar .nav__left h2 {
    color: var(--white-color);
    font-size: 1.875rem;
    font-weight: 600;
    text-align: center;
}
header .navbar .nav__left .nav__brand__icon .fa-align-right {
    color: var(--border-color);
    font-size: 2rem;
    margin-right: 0.3rem;
    line-height: 0.5;
}
header .navbar .nav__left h2 span {
    font-size:0.875rem;
    line-height: 17px;
    color: var(--white-color); 
}
/* nav menu, nav midle ===================*/
header .navbar .nav__midle {
color: var(--white-color);
flex-direction: column;

}
header .navbar .nav__midle .nav-item .nav-link {
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 0.9375rem;
    font-weight: 600;
    margin: auto 0.5rem;
    opacity: 0.8;
    transition: all 0.5s;
}header .navbar .nav__midle .nav-item:hover .nav-link {
    color: #fefefe;
    opacity: 1;
}
/* remove icon arrow down of boostrap */
.navbar-nav .nav-item.dropdown .nav-link::after {
    display: none;
}
/* add new icon arrow down */
.navbar-nav .nav-item.dropdown .nav-link .fa-angle-down {
    font-size: 0.8rem;
}

/* nav right, search btn, mode btn ============ */
header .navbar .nav__right {
    color: var(--white-color);
}
header .navbar .nav__right .btn__search{
    background: var(--green-color);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    margin-right: 0;
}
header .navbar .nav__right .btn__mode {
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 1.5rem;
    border: none;
    color: var(--white-color);
    background: transparent;
}
header .navbar .nav__right .btn__mode .btn__light{
    display: none;
}



/* HEADER end*/
/* CAROUSEL start */
.carousel__section .carousel__corp {
    padding: 0;
}
.carousel__section .carousel__corp .carousel-caption {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgb(63, 58, 100, 0.4);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.carousel__section .carousel__corp .carousel-caption h2 {
    font-size: 4.0625rem;
    font-weight: 600;
    line-height: 72px;
    color: var(--white-color);
}
.carousel__section .carousel__corp .carousel-caption p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 30px;
    color: var(--white-color);
}
.carousel__section .carousel__corp .carousel-caption .btn {
   color: var(--white-color);
   background: var(--border-color);
   padding: 1rem 3rem;
   width: 200px;
}

/* CAROUSEL end */
